<div class="breadcrumb-navigation">
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>HOME<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>ARTICELS<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>SHOW<span>

<div class="PageHead-article">
  <div class="PageHead-article_title">
    <h2>ARTICLES</h2>
  </div>
  <div class="PageHead-article_text">
    <p>
      投稿された記事の詳細ページです。<br>
      記事の全容をご確認いただけます。
    </p>
  </div>

<div class="article_show-display">
  <%= attachment_image_tag( @article, :image, width:"110px", format: 'jpeg', class: "article-show_image") %>
  <div class="article-space">
    <h1 class="article-show_title"><%= @article.title %><h1>
    <h6 class="article-show_date"><i class="fa fa-clock "></i>&nbsp;&nbsp;<%= @article.created_at.strftime('%Y/%m/%d') %>
    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-history "></i>&nbsp;&nbsp;<%= @article.updated_at.strftime('%Y/%m/%d') %></h6>
    <div class="article-body-box">
      <h6 class="article-show_text"><%= markdown(@article.body).html_safe %></h6>
    </div>
  </div>
  <% if admin_signed_in? %>
    <%= link_to"編集する", edit_admin_article_path(@article), class:"btn btn-secondary article_button" %>
  <%end%>
</div>