<div class="breadcrumb-navigation">
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>HOME<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>CHIROPRACTORS<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>SHOW<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>RESERVATION<span>

<div class="PageHead_practator">
  <div class="PageHead_practator-title">
    <h2>RESERVATION</h2>
  </div>
  <div class="PageHead_practator-text">
    ご予約に必要な情報の入力をお願いいたします。<br>
    内容に誤りがないよう、ご確認をお願いいたします。
  </div>
</div>

<div class="signup-display">
  <h1 class="article-display_title">RESERVATION</h1>
  <h4 class="signup_chiropractor-display_text">
    お客様情報入力画面です。<br><br>
    ご予約に際して、必要な情報の入力をお願いいたします。<br>
    以下の項目にご入力いただき、<strong>「予約確認画面へ進む」</strong>ボタンを押してください。<br>
  </h4>
  <div class="col-md-4 mx-auto">
  <table class="table table-bordered text-center mt-4">
    <tr>
      <td class="table-active"><strong>ご予約日時</strong></td>
      <td><strong><%= @reservation.display_start_date %></strong></td>
    </tr>
  </table>
  </div>
  <%= form_with model:@reservation, url:reservations_confirm_path, method: :post, local:true do |f| %>
    <%= render "layouts/error_message", model: f.object %>
    <div class="reservation-display_form">
      <div class="form-group form-inline">
        <%= f.label :name, 'ご予約者氏名', class:"col-sm-2 control-label font-weight-lighter small" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "佐藤太郎", class:"form-control col-sm-4" %>
      </div>

      <div class="form-group form-inline mt-4">
        <%= f.label :postal_code, 'ご自宅の郵便番号', class:"col-sm-2 control-label font-weight-lighter small" %>
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: "000-0000", class:"form-control col-sm-2" %>
      </div>

      <div class="form-group form-inline mt-4">
        <%= f.label :address, 'ご自宅の住所', class:"col-sm-2 control-label font-weight-lighter small" %>
        <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder: "東京都新宿区西新宿２丁目８−１", class:"form-control col-sm-4" %>
      </div>

      <div class="form-group form-inline mt-4">
        <%= f.label :station, '最寄り駅', class:"col-sm-2 control-label font-weight-lighter small" %>
        <%= f.text_field :station, autofocus: true, autocomplete: "station", placeholder: "東京駅", class:"form-control col-sm-4" %>
      </div>

      <div class="form-group form-inline mt-4">
        <%= f.label :phone_number, 'ご連絡可能な電話番号', class:"col-sm-2 control-label font-weight-lighter small" %>
        <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder: "00000000000", class:"form-control col-sm-4" %>
      </div>
      <%= f.hidden_field :start_date %>
      <%= f.hidden_field :end_date %>
      <%= f.hidden_field :chiropractor_id %>
      <%= f.hidden_field :user_id %>

      <div class="signup-button">
        <%= f.submit "予約確認画面へ進む", class:"btn btn-secondary col-sm-6" %>
      </div>
    </div>
  <% end %>
</div>