<div class="Slide">
  <h1 class="top-image"></h1>
  <div class="top-message">
    <h2>みつかいろならあなたに合った整体師さんが見つかる</h2>
    <div class="top-message-buttton">
      <%= link_to "整体師さんを探す", chiropractors_path, class:"btn btn-lg btn-secondary" %>
    </div>

    <div class="top-articles">
      <% @articles.each do |article| %>
        <div class="top-articles-box">
          <%= link_to(article_path(article)) do %>
            <%= attachment_image_tag(article, :image, format: 'jpeg', fallback: "no-image.png" ,class: "top-articles-box_image") %>
            <p class="top-articles-box_date"><%= article.created_at.strftime('%Y/%m/%d') %></p>
            <p class="top-articles-box_title"><%= article.title %><p>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="top-display_solicitation">
      <h4 class="top-display-solicitation_text">
        新規登録をして<br>
        メンバーになりませんか？
      </h4>
      <div class="top_button">
        <%= link_to "整体師として登録する", new_chiropractor_registration_path, class:"btn btn-secondary btn-lg mt-5" %>
        <%= link_to "依頼者として登録する", new_user_registration_path, class:"btn btn-secondary btn-lg mt-5" %>
      </div>
    </div>
</div>